<div class="berth-planner" #plannerWrapper>
    <div class="berth-planner-toolbar"></div>

    <div class="planner-body" #plannerBody>

        <div class="planner-header-row">
            <div class="planner-title-col">Berth Planner</div>
            <div class="planner-timeline-header-inner"></div>
        </div>

        <div class="berth-row">
            <div class="planner-berth-col">Berth A</div>
            <div class="planner-plot-inner"></div>
        </div>

        <div class="berth-row">
            <div class="planner-berth-col">Berth B</div>
            <div class="planner-plot-inner"></div>
        </div>

        <div class="berth-row">
            <div class="planner-berth-col">Berth C</div>
            <div class="planner-plot-inner"></div>
        </div>

    </div>
</div>