<div class="berth-planner" #plannerWrapper>
    <div class="berth-planner-toolbar">
        <div class="date-range">
            <button mat-icon-button (click)="onPrev()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <span class="date-range-label">{{dateRangeLabel}}</span>
            <button mat-icon-button (click)="onNext()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>

    <div class="planner-body" #plannerBody>
        <div class="planner-header-row">
            <div class="planner-title-col" [style.width.px]="berthNameWidth()">Berth/Bollards</div>
            <div class="planner-timeline-header-inner">
                <ng-container *ngFor="let date of timeline">
                    <div [style.width.px]="timelineConfig.columnWidthPx" class="day-col">
                        <div class="date">{{date |date:'dd-MMM-YYYY'}} </div>
                        <div class="time-col">
                            <div [style.width.px]="timelineConfig.slotWidthPx" *ngFor="let time of timelineConfig.slotLabels ">{{time}}</div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div>
        <ng-container *ngFor="let berth of berthPlotingData">
            <div class="berth-row" [style.height.px]="berth.total_row_height">
                <div class="planner-berth-col" [style.width.px]="berthNameWidth()">
                    <div class="berth_name">
                        <span class="icon"><mat-icon>anchor</mat-icon></span>
                        <span>{{berth.berth_name}}</span>
                    </div>
                    <div class="bollards">
                        <div *ngFor="let bollar of berth.bollard_labels" [style.height.px]="timelineSvc.bollardSize()">
                            {{bollar}}
                        </div>
                    </div>
                </div>
        
                <div class="planner-plot-inner" [style.width.px]="timelineConfig.totalContentWidthPx">
                    <div *ngFor="let vessel of berth.vessels" class="plot-outer-border" [ngStyle]="{
                            'position': 'absolute',
                            'left.px': vessel.left_px,
                            'top.px': vessel.top_px,
                            'width.px': vessel.width_px,
                            'height.px': vessel.height_px
                         }">
                            <strong>{{vessel.vessel_name}}</strong>
                    </div>
                </div>
        
            </div>
        </ng-container>
        </div>
    </div>
</div>