.berth-planner {
    padding: 10px;
    box-sizing: border-box;
    height:100%;
}

.berth-planner-toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 5px 0px;
    border: 1px solid #bcbcbc;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    z-index: 10;

    .date-range {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.planner-body {
    overflow: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    width: 100%;
    height: calc(100% - 60px);

}

.berth-row {
    display: flex;
    flex-direction: row;
    width: max-content;
    box-sizing: border-box;
    border-bottom: 1.5px dotted #000;
    border-right: 1.5px dotted #000;
}

.planner-header-row {
    display: flex;
    flex-direction: row;
    width: max-content;
    min-width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    margin-bottom: 1px;
}

.planner-title-col {
    position: sticky;
    left: 0;
    background-color: #fff;
    border: 1px dotted #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    z-index: 10;
}

.planner-berth-col {
    position: sticky;
    left: 0;
    z-index: 3;
    background-color: #fff;
    border: 1px dotted #000;
    border-top: none;
    border-bottom: none;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;

    .berth_name {
        flex: 2;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .icon {
          display: flex;
        align-items: center;
        justify-content: center;
        
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #fee0e0;
        border: 1px solid #DC3545;

        mat-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
            color: #DC3545;
        }
    }
    }

    .bollards {
        flex: 1;
        display: flex;
        flex-direction: column;

        & > div {
            border-left: 1.5px dotted #000;
            text-align: center;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            position: relative; 

            &:not(:last-child) {
                border-bottom: 1.5px dotted #000;
            }

            /* FIX 1: HORIZONTAL CELL LINES */
            // &::after {
            //     content: '';
            //     position: absolute;
            //     bottom: -1px;      
            //     left: 100%;         
            //     width: 100000px;    
            //     height: 0px;
            //     border-bottom: 1px solid #ccc;
            //     pointer-events: none; 
            //     z-index: -1; 
            // }
        }
    }
}

.planner-plot-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
}

.plot-outer-border {
    border: 1px solid #000;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 2;
}

.planner-timeline-header-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    box-sizing: border-box;

    .day-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px dotted #000;
        border-right: 1px dotted #000;
        border-bottom: 1px dotted #000;
        box-sizing: border-box;
        background-color: #fff;
        color:#5731A3;

        &:nth-child(even) {
            background-color: #EBDCFF;
        }
        &:nth-child(odd){
            background-color: #E9E7F3;
        }

        .date {
            padding: 1px;
        }

        .time-col {
            display: flex;
            flex-direction: row;
            width: 100%;
            border-top: 1px dotted #000;
            box-sizing: border-box;
            color:#4A4452;

            &>div {
                font-size: 11px;
                font-weight: 500;
                text-align: left;
                box-sizing: border-box;
                flex-shrink: 0;
                position: relative;

                &:not(:last-child) {
                    // border-right: 1px dotted #000;
                }

                /* FIX 2: VERTICAL TIMELINE LANES */
                // &::after {
                //     content: '';
                //     position: absolute;
                //     top: 100%;          
                //     left: -1px;        
                //     width: 0px; 
                //     height: 100000px;
                //     border-left: 1px solid #ccc;
                //     pointer-events: none; 
                //     z-index: -1; 
                // }
            }
        }
    }
}
.coulmn {
    white-space: nowrap;
    border: 1px dotted #000;
}